body {
    background-color: rgb(212, 244, 201);
    font-family: sans-serif;
}

/*********************** Button Tornar *******************************/
.bttn_back{
    width: 6vw;    
    height: 3.5vh;
    margin-bottom: 1%;
    font-size: 1.2em;
    background-color: rgb(4, 124, 46);
}

.bttn_back:hover{
    background-color: rgb(85, 124, 99);
}

main{
    display: flex;
    justify-content: flex-start;
    gap:.1%;
}

/************************** Input + Save *****************************/
.form{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.input{
    width: 12vw;    
    height: 3vh;
    font-size: 1.2em;
    margin-right: .5%;
}

.bttnSave{
    width:8em;
    padding: 1.2%;
    height:3.4vh;
}
    
/*************************** Cada columna ****************************/
h1{
    font-weight: bold;    
}

.playlists, .canciones_playlist, .canciones_selecionadas{
    border: 1px solid black;
    background-color: rgb(131, 196, 143);
    width: 33%;
    height: auto;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 2%;
}

/*********** La informació a motrar de cada columna ******************/
.playlist, .track_playlist, .track_selected{
    background-color:rgb(28, 56, 2);
    margin-bottom: 2%;    
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: .8em;
    align-items: center;
}

/***************** organització entre pista y botó *****************/
.track, .bttn{
    margin-left: 1.5%;
}

.bttn_del{
    margin-right: 1.5%;
}

.bttn{
    width: 3vw;   
    height: 3vh;
}

.bttn:hover{
    background-color:rgb(113, 223, 103);
}

.playlist:hover{
    background-color:rgb(95, 116, 74);
}