body {
    background-color: rgb(212, 244, 201);
}


/******************************************************************* HEADER ***************************************************************/

.input{
    width: 16vw;    
    height: 2.5vh;
    border-color: rgb(70, 198, 111);
}


.bttn{
    width: 4vw;   
    height: 2.9vh;
    background-color: rgb(85, 124, 99);
    color: white;
}


.bttn:enabled{
    background-color: rgb(4, 124, 46);
}


.bttn:hover{
    background-color: rgb(73, 126, 91);
}


h1{
    color: rgb(17, 179, 74);
}


/* MAIN */

.main{
    display: flex;
    margin-top: 1%;
}

.songs{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    border-color: rgb(223, 17, 44); 
}


/***************************************************************** PART ESQUERRA - TRACKS *****************************************************/
.results{
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    overflow: auto;
}

.track{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin:0;
    padding: 1.5%;
    display: block;                                 /*quita el posible espacio superior previo a la imágen*/
    width:20%;
    height: auto;
    background-color: white;
    border-radius: 3%;
    justify-content: center;
    border: 2px solid transparent;                 /*le añado borde invisible inciialemtne,
                                                    porque sino con el hover al añadirle el borde no se muevan se meuven los tracks
                                                    por la ampliación de píxel por el borde,
                                                    y esto lo evita ya que ya está creado incialmente*/
}

.track:hover{
    background-color: rgb(141, 224, 141);
    border:2px solid green;
}


.track_img{
    width: 100%;
    height: auto;
}

.track_name{
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}

.track_artista, .track_album{
    margin-bottom: 4%;
    font-size: .9em;
}

.track_add{
    margin-top: 4%;
    color: white;
    background-color: green;
    border-radius: 8%;
    border-color: green;
    width: 6vw;    
    height: auto;
}

.track_add:hover{
    background-color: rgb(110, 190, 110);
}



/**************************************************************** PART DRETA - INFORMACIÓ ARTISTA ******************************************************/

.informacio{
    width: 30vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.infoArtista{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    height: 70vh;
    border-radius: 3%;
    border: 1px solid black;
    box-sizing: border-box;             /*el padding no afecte al tamaño*/
    overflow: hidden;                   /*evita que el contenido sobresalga*/
    padding: 5%; 
}


.track_img_profile{
    width: 80%;
    height: auto;
    border-radius: 50%;
    transform: scale(0.8); 
}

.track_popularity, .track_generes, .track_followers{
    margin-bottom: 4%;
    text-align: center;
}


/***************************** Top Tracks *******************/

.llista_titol{
    margin-top: 5%;
    font-weight: bold;
}

.infoLlista{
    margin-top: 3%;
}

.track_top {
    margin-bottom: 8%;
}